<header class="jumbotron text-center display-3">Buy That Charlotte House?</header>

<main class="container">

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a href="/" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
            <a href="/scrape" class="nav-link active">Pull Recent /a>
        </li>
        <li class="nav-item">
            <a href="/saved" class="nav-link active">Saved Articles</a>
        </li>
        <li class="nav-item">
            <a href="/destroy" class="nav-link active">Reset DB</a>
        </li>
    </ul>

    {{#each home}}
    {{#unless saved}}
    <section class="card col-12">
        {{!-- <section class="col-4">
            <img src="{{image}}">
        </section> --}}
        <section class="col-12">
            <section class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <h5 class="card-subtitle">{{postDate}}</h5>
                <p class="card-text">{{excerpt}}</p>
                <a href="{{link}}" class="btn btn-primary float-left">Go To Article</a>
                <button id="saveBtn" data-id="{{this._id}}" class="float-right btn btn-secondary">Save Article</a>
            </section>
        </section>
    </section>
    {{/unless}}
    {{/each}}
</main>